{% extends "layout.html" %}
{% block content %}
<div class="content">
    <h3>Biography</h3>
    <p>I am a passionate and dedicated B. Tech student specializing in Computer Science and Engineering. My focus lies in developing innovative solutions and enhancing my skills in software development, data structures, and algorithms. With a strong academic background and hands-on experience in various projects, I aim to contribute to the tech industry and make a significant impact.</p>
</div>
{% endblock %}
