{% extends "layout.html" %}
{% block content %}
<div class="content">
    <h3>Projects and Work Examples</h3>
    <ul>
        <li><strong>CLI Chat Application</strong>
            <ul>
                <li>Developed a command-line interface (CLI) chat application.</li>
                <li>Utilized Python for backend development and socket programming for real-time communication.</li>
                <li>Implemented features such as user authentication, private messaging, and group chats.</li>
                <li><a href="https://github.com/PUNEET-Yadav-12/data-science/tree/main/PROJECTS/project_1_cli_chatapp" target="_blank">GitHub Repository</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
